@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0; padding: 0;
    transition: .2s linear;
}

:root{
    --cor01: #d8af47;
}

body{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: black;
    justify-content: center;
}

main{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.sobre{
    max-width: 520px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.sobre h1{
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
}

.sobre h1 strong{
    color: var(--cor01);
}

.sobre p{
    font-family: 'Montserrat', sans-serif;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.buttons .btn{
    display: flex;
    width: 250px;
    height: 49px;
    background-color: var(--cor01);
    border: none;
    border-radius: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

.buttons .btn:hover{
    background-color: white;
}

.buttons a{
    display: flex;
    text-decoration: none;
    color: black;
    align-items: center;
    justify-content: center;
}

.profile-pic{
    max-width: 370px;
    border-radius: 16px;
}


@media (max-width: 960px) {
    html{
        font-size: 80%;
    }

    body{
        display: block;
        background-color: black;
    }

    main{
        flex-direction: column-reverse;
    }

    .sobre{
        max-width: 320px;
        gap: 25px;
        margin-bottom: 30px;
    }

    .buttons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .buttons .btn{
        font-size: 90%;
        width: 320px;
    }

    .profile-pic{
        max-width: 300px;
        margin-top: 30px;
    }
}